.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;

}

.navbar{
  height:70px;
}
/* Style for movie title */
.movie-title {
  font-size: 26px;
  font-weight: 500;
  color: rgb(128, 195, 65);
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(128, 195, 65, 0.5);
  white-space: nowrap;
}

/* Optional glowing animation */
// @keyframes glow {
//   0%, 100% { text-shadow: 0 0 8px rgba(128, 195, 65, 0.7); }
//   50% { text-shadow: 0 0 20px rgba(180, 255, 120, 1); }
// }

// .movie-title {
//   animation: glow 3s ease-in-out infinite;
// }