
<div class="overlay">
  <mat-card class="display-card">
    <mat-toolbar color="primary" class="toolbar">
      <span>{{ dataForView.title }}</span>
    </mat-toolbar>

    <mat-card-content class="content">
    <div class="content-row">
      <div class="image-preview" *ngIf="dataForView.image">
        <img [src]="dataForView.image" alt="{{ dataForView.title }}" />
      </div>

      <div class="text-content">
        <p>Watch {{ movie.title }} right now or download it to enjoy later — anywhere, anytime</p>
      </div>
    </div>
  </mat-card-content>


  <!-- Just created buttons -->
    <mat-card-actions class="button-row">
      <button mat-button color="primary" (click)="onCancel()">Watch</button>
      <button mat-button color="primary" (click)="onCancel()">Download</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
