

<!-- This is Form of Add Movie  -->

 <mat-toolbar>
  <span>Add Movie</span>
  <span class="example-spacer"></span>

  <button matIconButton class="example-icon" (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<mat-card-content>
  <!-- <form (ngSubmit)="addMovie()" #movieForm="ngForm">
    <div class="form-group">
      <label for="title">Movie Title:</label>
      <input type="text" id="title" [(ngModel)]="newMovie.title" name="title" accept="image/png, image/jpeg" required />
    </div>
  
    <div class="form-group mt-2">
      <label for="category">Category:</label>
      <select id="category" [(ngModel)]="newMovie.category" name="category" required>
        <option value="now">Now Playing</option>
        <option value="upcoming">Upcoming</option>
        <option value="popular">Popular</option>
      </select>
    </div>
  
    <div class="form-group mt-2">
      <label for="image">Upload Image:</label>
      <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*" />
    </div>
  
    <div class="form-group preview" *ngIf="previewUrl">
      <img [src]="previewUrl" width="200" />
    </div>
  
    <mat-card-actions align="end">
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="accent" type="submit" >Add Movie</button>
    </mat-card-actions>
  </form> -->
</mat-card-content> 
