<jhi-navbar></jhi-navbar>

<div class="row mt-2 no-overflow">
  <div class="col-3 slide-container ">
    <div class="slide-track slide-left">
      <img src="assets/images/aishwarya-rai.jpg" alt="" class="imgg">
      <img src="assets/images/Ajay-Devgan.jpg" alt="" class="imgg">
      <img src="assets/images/Kangana-Ranaut.jpg" alt="" class="imgg">
      <img src="assets/images/priyanka-chopra.jpg" alt="" class="imgg">
      <img src="assets/images/SRK.jpg" alt="" class="imgg">
    </div>

    <div class="slide-track slide-right">
      <img src="assets/images/SRK.jpg" alt="" class="imgg">
      <img src="assets/images/priyanka-chopra.jpg" alt="" class="imgg">
      <img src="assets/images/Ajay-Devgan.jpg" alt="" class="imgg">
      <img src="assets/images/aishwarya-rai.jpg" alt="" class="imgg">
      <img src="assets/images/Kangana-Ranaut.jpg" alt="" class="imgg">
    </div>
  </div>

  <div class="col-6 d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h3 style="color: rgb(128, 195, 65); margin-bottom: 20px;  font-size: xx-large;
    font-family: sans-serif3;">
        WELCOME TO MOVIES WORLD
      </h3>

      <h3>Discover, Watch, and Enjoy the World of Movies</h3>

      <div class="button-group">
        <button [ngClass]="{'active-button': currentMovie === 'upcoming'}"
          (click)="showSelectedList('upcoming')">Upcoming</button>

        <button [ngClass]="{'active-button': currentMovie === 'popular'}"
          (click)="showSelectedList('popular')">Popular</button>

        <button [ngClass]="{'active-button': currentMovie === 'add'}" (click)="addMovie()">Add Movie</button>
      </div>
    </div>
  </div>

  <div class="col-3 slide-container ">
    <div class="slide-track slide-right">
      <img src="assets/images/SRK.jpg" alt="" class="imgg">
      <img src="assets/images/priyanka-chopra.jpg" alt="" class="imgg">
      <img src="assets/images/Ajay-Devgan.jpg" alt="" class="imgg">
      <img src="assets/images/aishwarya-rai.jpg" alt="" class="imgg">
      <img src="assets/images/Kangana-Ranaut.jpg" alt="" class="imgg">
    </div>
    <div class="slide-track ">
      <img src="assets/images/aishwarya-rai.jpg" alt="" class="imgg">
      <img src="assets/images/Kangana-Ranaut.jpg" alt="" class="imgg">
      <img src="assets/images/kajol.jpeg" alt="" class="imgg">
      <img src="assets/images/Ajay-Devgan.jpg" alt="" class="imgg">
      <img src="assets/images/priyanka-chopra.jpg" alt="" class="imgg">
    </div>
  </div>
</div>
<div class="text-info" >
    
  <span class="text-span">Welcome to [Your Website Name], the home for every movie enthusiast.
    We built this platform to help film lovers discover, catalog, and enjoy movies in the most organized way possible. 
    Whether you’re a casual viewer or a hardcore cinephile, our movie library offers:</span> 

</div>

<div class="container mt-4 ">

    <h3 style="color: white; text-align: center;">Upcoming Movies</h3>
  
  <div class="d-flex align-items-center justify-content-between mt-3">
    <button class="btn btn-outline-primary me-2 mb-2" (click)="prev()" [disabled]="currentIndex === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="row w-100 justify-content-center">
      <div *ngFor="let mov of displayedMovies" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <mat-card class="example-card" appearance="outlined" (click)="showMovieDetails(mov)">
          <img mat-card-image [src]="mov.image" [alt]="mov.title" style="height: 215px;" />
          <mat-card-content>
            <mat-card-title class="movieTitle">{{ mov.title }}</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <button class="btn btn-outline-primary ms-2 mb-2" (click)="next()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<div class="container mt-4 ">
  <h3 style="color: white; text-align: center;">Popular Movies</h3>

<div class="d-flex align-items-center justify-content-between mt-3">
  <button class="btn btn-outline-primary me-2 mb-2" (click)="prev()" [disabled]="currentIndex === 0">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="row w-100 justify-content-center">
    <div *ngFor="let mov of displayedMovies" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
      <mat-card class="example-card" appearance="outlined">
        <img mat-card-image [src]="mov.image" [alt]="mov.title" style="height: 215px;" />
        <mat-card-content>
          <mat-card-title class="movieTitle">{{ mov.title }}</mat-card-title>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <button class="btn btn-outline-primary ms-2 mb-2" (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
</div>